h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 120%;
    color: #00bcd4;
    margin: 20px 0 17px 0;
}
ul li {
    display: inline-block;
    list-style-type: none;
}
.justify{
  text-align: justify;
}
a:hover, a:focus, a:active {
    color: none;
    text-decoration: none;
}
input {
    border-radius: 4px !important;
    box-shadow: none;
}
textarea{
  border-radius: 4px !important;
}

/*Navbar*/
.navbar{
    width:100%;
}
.navbar-default {
    background: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    position:fixed;
    height: 0px;
    top: 0px;
}
.navbar-nav{
    display: inline-block;
    float:none;
    font-size: 300%;
}
@media (min-width: 767px){
  .navbar-default .navbar-nav > li > a {
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
  }
}
@media (max-width: 767px){
.navbar-inverse .navbar-collapse {
    font-size: 6px;
    }
}
.navbar-default.navbar-inverse .navbar-nav > li > a, .navbar-default.navbar-inverse .navbar-nav > li > a:hover, .navbar-default.navbar-inverse .navbar-nav > li > a:focus, .navbar-default.navbar-inverse .navbar-nav > .active > a, .navbar-default.navbar-inverse .navbar-nav > .active > a:hover, .navbar-default.navbar-inverse .navbar-nav > .active > a:focus {
    color: #727272;
}
.navbar-default.navbar-inverse .navbar-nav > li > a:hover, .navbar-default.navbar-inverse .navbar-nav > li > a:focus, .navbar-default.navbar-inverse .navbar-nav > .active > a, .navbar-default.navbar-inverse .navbar-nav > .active > a:hover, .navbar-default.navbar-inverse .navbar-nav > .active > a:focus .navbar-default.navbar-inverse .navbar-nav > .open > a, .navbar-default.navbar-inverse .navbar-nav > .open > a:hover, .navbar-default.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #00bcd4;
    color: #fff;
}

/*#home-section*/
#home {
    background-image: url("../img/imac-605421_1920.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 934px;
    position: relative;
    top: -20px;
}
.name{
  color:#00bcd4;
}
.dark-div {
  background-color: rgba(0, 0 ,0 , 0.6);
  height: 934px;
}
.home-title {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
    padding-top: 300px;
    color: #fff;
}
.home-subtitle {
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 38px;
    text-transform: uppercase;
    color: #fff;
}
@media (max-height: 680px){
    #home {
    background-image: url("../img/imac-605421_1920.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 680px;
    position: relative;
    top: -20px;
            }
    .dark-div {
      background-color: rgba(0, 0 ,0 , 0.6);
      height: 680px;
    }
}

@media (max-width: 768px){
    .home-title {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
        padding-top: 300px;
        color: #fff;
            }
    .home-subtitle {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 38px;
        text-transform: uppercase;
        color: #fff;
    }
}
@media (max-width: 425px){
    .home-title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
        padding-top: 300px;
        color: #fff;
            }
    .home-subtitle {
        font-size: 10px;
        font-weight: 300;
        margin-bottom: 38px;
        text-transform: uppercase;
        color: #fff;
    }
}

.btn-info {
    background-color: #00bcd4;
}
.btn {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
    height: 45px;
    line-height: 30px;
}
.btn .fa {
    color: #fff;
    padding-right: 15px;
}
/*About me*/
#about{
  margin-top: 100px;
  width: 100%;
  height: auto;
}
.set-margin-bottom{
    margin-bottom: 20px;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, ul.side-nav.full, ul.side-nav.fixed {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.photo {
    height: 360px;
    width: 360px;
    border: 8px solid #fff;
    border-radius: 200px;
    margin-left: 23px;
    object-fit: cover;
}
@media (max-width: 1200px){
    .photo{
            height: 300px;
            width: 300px;
            border: 8px solid #fff;
        }
}

.about-subtitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.person-info h5 {
    border-bottom: 1px solid #eeeeee;
    color: #727272;
    font-size: 14px;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.about-social{
  margin-left: -40px;
}
.social-icon-ar {
    font-size: 25px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin: 0 10px 10px 0;
}
/*Skills*/
.circles-text {
    font-size: 1.5em !important;
}
#skills{
  margin-top: 100px;
}
.skills h4{
    border-bottom: 1px solid #eeeeee;
    color: #727272;
    font-size: 19px;
    margin-bottom: 12px;
    padding-bottom: 12px;
}
.skills .circle{
  padding-top: 30px;
}
/*Experience*/

#experience{
  padding-top: 100px;
}
.experience-subtitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;

}
/*PortFolio*/
#portfolio{
    margin-top: 100px;
}
.info{
    border-radius: 5px;
    width: 100%;
    margin-top: 2px;
    border: solid 1px #999;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-modal {
    padding: 5px;
    display: inline-flex;
    align-items: center;
}
.info .title{
    color: #00bcd4;
    font-size: 17px;
    margin-left: 40px;
}
.visit {
    background-color: rgba(128, 128, 128, 0.5);
    padding: 10px 10px 8px 10px;
    padding-left: 20px;
    color: #fff;
    border: solid 1px #999;
    width: 80px;
    text-decoration: none;
    margin-bottom: 20px !important;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.info .sub-title{
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 0em;
    margin-left: 10px;
}
.modal-content {
    border-radius: 4px;
    background-color: rgba(0,0,0,.9);
}
.caption-ar:hover {
    width: 358px;
    height: 242px;
}
.img-caption-ar {
    width: 358px;
    height: 242px;
}
.img-caption-ar img {
    width: 358px;
    height: 230px;
}
/*Contact me*/
#contact{
  padding-top: 100px;
  padding-bottom: 100px;
}
.person-info2 h5{
  color: #727272;
  font-size: 14px;
  margin-bottom: 20px;
  padding-bottom: 0px;
}
.person-info2 span{
  margin-right: 10px;
}
.contact-form{
  margin-top: 20px;
}
